$colors: (
  appWhite: #FFFFFF,
  appWhitesmoke: #F5F5F5,
  appDirtyWhite: #F3F3F3,
  appLightSilver: #EEEEEE,
  appSilver: #CECECE,
  appMint: #CCE8CC,
  appRed: #bf4f4f,
  appGrey:  #999999,
  appGreen: #4fbf4f,
  appDarkCharcoal: #333333
);

$fontColors: (
  names: map_get($colors, appDarkCharcoal),
  iconButton: map_get($colors, appWhite),
  checked: map_get($colors, appGrey)
);

$backgroundsColors: (
  app: map_get($colors, appWhitesmoke),
  hoverListName: map_get($colors, appDirtyWhite),
  hoverMenuItem: map_get($colors, appWhitesmoke),
  activeMenuItem: map_get($colors, appLightSilver),
  elements: map_get($colors, appWhite),
  hamburger: map_get($colors, appMint),
  hoverToDoItem: map_get($colors, appWhitesmoke),
  activeToDoItem: map_get($colors, appLightSilver),
  addButton: map_get($colors, appGreen),
  removeButton: map_get($colors, appRed),
  icon: map_get($colors, appSilver)
);

$shadowColors: (
  menu: map_get($colors, appWhitesmoke)
);

$borderColors: (
  separator: map_get($colors, appSilver),
  addSeparator: map_get($colors, appDarkCharcoal)
);

$quantities: (
  maxPaperHeight: 60vh,
  minPaperHeight: 150px,
  paperWidth: 480px,
  menuItemMaxWidth: 220px,
);

$fontSizes: (
  small: 12px,
  regular: 16px,
  medium: 18px,
  big: 20px,
  large: 24px,
);

$fontWeights: (
  extremeThin: 100,
  bold: 700,
  extremeBold: 900,
);

:export {
  borderColor: map-get($colors, appSilver);
  menuItemFontSize: map-get($fontSizes, big);
  menuItemMaxWidth: map-get($quantities, menuItemMaxWidth);
}
