#menu {
  position: absolute;
  left: -1em;
  font-size: 20px;
  width: calc( 100% + 2em);
  display: grid;
}

.menu {
  &-item {
    position: relative;
    padding: 0;
    margin-bottom: .5em;
    width: max-content;
    max-width: 300px;
    cursor: pointer;
    display: flex;
    overflow: hidden;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
    transition-property: all;

    .text {
      width: 0;
      margin: 0;
      max-width: 220px;
      text-transform: uppercase;
      padding: 1.25em 0;
      height: 1em;
      flex-shrink: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      transition-duration: .3s;
      transition-timing-function: ease-in-out;
      transition-property: all;
    }

    &:hover {
      background-color: whitesmoke;

      .text {
        padding-left: .75em;
        padding-right: .75em;
      }
    }

    &:active { background-color: #eeeeee; }

    .icon {
      padding: .75em 0;
      width: 1em;
      height: 2em;
      flex-shrink: 0;

      polygon, circle, rect {
        fill: #cecece;
      }
    }

    &.left {
      left: 0;
      grid-column: 1/1;
      box-shadow: 0.15em 0 whitesmoke;
      text-align: right;

      .icon {
        order: -1;
        border-right: .1em solid #cecece;
        padding-right: .3em;
        padding-left: .75em;
        margin-right: auto;
      }

      &:hover {
        left: -8.5em;
      }
    }

    &.right {
      right: 0;
      grid-column: 2/2;
      box-shadow: -0.15em 0 whitesmoke;
      justify-self: flex-end;

      .icon {
        border-left: .1em solid #cecece;
        padding-left: .3em;
        padding-right: .75em;
        margin-left: auto;
      }

      &:hover {
        right: -8.5em;
      }
    }

    &.top { grid-row: 1/1; }

    &.bottom { grid-row: 2/2; }
  }
}
